Hello {{user}},

Your deposit have not yet reflected on our system, this may be due to much traffic on our payment system by many investors transacting at the same time. When such an issue occurs, we always advice our investors to remake the transaction.

Once you remake the transaction, both the previous and the new deposit will be activated and managed by the company. We are really sorry for any inconvenience this may cause you.

Thanks for trusting bittechfxt.com
Happy trading.!

For more enquires contact
Support@......