 {% extends 'crypto/base.html' %}   

  {% load static %}
   {% load crispy_forms_tags %}



{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: #000422; scroll-behavior: smooth;">
	  <div class="container-full" style="scroll-behavior: smooth;">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Deposit</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<!-- <li class="breadcrumb-item"><a href="#">
									<i class="mdi mdi-home-outline"></i></a></li> -->
								<!-- <li class="breadcrumb-item" aria-current="page">Component</li>
								<li class="breadcrumb-item active" aria-current="page">Modals</li> -->
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>
{% include 'crypto/messages.html' %}
		<!-- Main content -->
		<section class="content">

		  <div class="row">


<br>


		  
				<div class="col-lg-3 col-md-6" >
					<div class="box pull-up" data-bs-toggle="modal" data-bs-target="#modal-center">
					  <div class="box-body">
						  <div class="media align-items-center p-0">
							<div class="text-center">
							  <a href="#"><i class="cc BTC me-5" title="BTC"></i></a>
							</div>
							<div>
							  <h3 class="no-margin text-bold">Bitcoin BTC</h3>
							</div>
						  </div>
						<!--   <div class="flexbox align-items-center mt-5">
							<div>
							  <p class="no-margin fw-600"><span class="text-warning">0.00000434 </span>BTC<span class="text-info">$0.04</span></p>
							</div>
							<div class="text-end">
							  <p class="no-margin fw-600"><span class="text-success">+1.35%</span></p>
							</div>
						  </div> -->
					</div>
			
				 </div>
			  </div>			

			  	<div class="col-lg-3 col-md-6" >
					<div class="box pull-up" data-bs-toggle="modal" data-bs-target="#modal-ETH">
					  <div class="box-body">
						  <div class="media align-items-center p-0">
							<div class="text-center">
							  <a href="#"><i class="cc ETH me-5" title="ETH"></i></a>
							</div>
							<div>
							  <h3 class="no-margin text-bold">Ethereum ETH</h3>
							</div>
						  </div>
						<!--   <div class="flexbox align-items-center mt-5">
							<div>
							  <p class="no-margin fw-600"><span class="text-warning">0.00000434 </span>BTC<span class="text-info">$0.04</span></p>
							</div>
							<div class="text-end">
							  <p class="no-margin fw-600"><span class="text-success">+1.35%</span></p>
							</div>
						  </div> -->
					</div>
			
				 </div>
			  </div>		

			  	<div class="col-lg-3 col-md-6" >
					<div class="box pull-up" data-bs-toggle="modal" data-bs-target="#modal-USDT">
					  <div class="box-body">
						  <div class="media align-items-center p-0">
							<div class="text-center">
							  <a href="#"><i class="cc USDT me-5" title="BTC"></i></a>
							</div>
							<div>
							  <h3 class="no-margin text-bold">Tether USDT <h5> <i>(ERC20)</i><h5></h3>
							</div>
						  </div>
						<!--   <div class="flexbox align-items-center mt-5">
							<div>
							  <p class="no-margin fw-600"><span class="text-warning">0.00000434 </span>BTC<span class="text-info">$0.04</span></p>
							</div>
							<div class="text-end">
							  <p class="no-margin fw-600"><span class="text-success">+1.35%</span></p>
							</div>
						  </div> -->
					</div>
			
				 </div>
			  </div>


			  	<div class="col-lg-3 col-md-6" >
					<div class="box pull-up" data-bs-toggle="modal" data-bs-target="#modal-USDT-TRC">
					  <div class="box-body">
						  <div class="media align-items-center p-0">
							<div class="text-center">
							  <a href="#"><i class="cc USDT me-5" style="color: red;" title="USDT"></i></a>
							</div>
							<div>
							  <h3 class="no-margin text-bold">Tether USDT <h5> <i>(TRC20)</i><h5></h3>
							</div>
						  </div>
						<!--   <div class="flexbox align-items-center mt-5">
							<div>
							  <p class="no-margin fw-600"><span class="text-warning">0.00000434 </span>BTC<span class="text-info">$0.04</span></p>
							</div>
							<div class="text-end">
							  <p class="no-margin fw-600"><span class="text-success">+1.35%</span></p>
							</div>
						  </div> -->
					</div>
			
				 </div>
			  </div>	


			  	<div class="col-lg-3 col-md-6" >
					<div class="box pull-up" data-bs-toggle="modal" data-bs-target="#modal-USDT-BEP">
					  <div class="box-body">
						  <div class="media align-items-center p-0">
							<div class="text-center">
							  <a href="#"><i class="cc USDT me-5" style="color: blue;" title="USDT"></i></a>
							</div>
							<div>
							  <h3 class="no-margin text-bold">Tether USDT <h5> <i>(BEP20)</i><h5></h3>
							</div>
						  </div>
						<!--   <div class="flexbox align-items-center mt-5">
							<div>
							  <p class="no-margin fw-600"><span class="text-warning">0.00000434 </span>BTC<span class="text-info">$0.04</span></p>
							</div>
							<div class="text-end">
							  <p class="no-margin fw-600"><span class="text-success">+1.35%</span></p>
							</div>
						  </div> -->
					</div>
			
				 </div>
			  </div>	
<!-- 
			  <div class="box">
				<div class="box-header">					
					<h4 class="box-title">profe of payment</h4>
					<h6 class="box-subtitle">You can upload your<code>profe</code>of deposit here.</h6>
				</div>
				<div class="box-body">
					<form action="#" class="dropzone dz-clickable">
						
					<div class="dz-default dz-message">
						<span>Drop files here to upload</span>
					</div>
				</form>
				</div>
			</div> -->

			<div class="box-body">
				  <!-- Date dd/mm/yyyy -->
				  <div class="form-group">

				  	<form action="" method="post" enctype="multipart/form-data">
				  		{% csrf_token %}
					<label class="form-label">Profe of payment:</label>
					<div class="row">
						<div class="col-6">
							<div class="input-group">
							  <!-- <div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							  </div> -->
							 
					  <input class="form-control" name="image" required="" type="file" id="formFileMultiple" multiple="">
				
							</div>
							<br>
							<div class="input-group">
							  <!-- <div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							  </div> -->
							 
					  <input class="vertical-spin form-control" required="" placeholder="Your amount ...." type="text" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" value="" name="amount" style="display: block;">
				
							</div><br>
							<!-- /.input group -->
						</div>
			



						<div class="col-6">
							<select class="btn-group bootstrap-select btn dropdown-toggle btn-default" required="" name="currency">
								<option selected disabled="true" class="text">---payment method---</option>
								<option class="text">Tether (USDT)</option>
								<option class="text">Bitcoin (BTC)</option>
								<option class="text">Ethereum (ETH)</option>
							</select>
						</div>


						<button type="submit" class="btn btn-primary btn-sm w-p100 mb-15">submit</button>

					</div>
					</form>
				  </div>
				  <!-- /.form group -->

				  <!-- /.form group -->

				  <!-- /.form group -->

				</div>




		  </div>

		</section>

				<!-- Main content -->
		<section class="content">			
<div class="row">
				<div class="col-12">
				  <div class="box">
					<div class="box-body">
						<h5 class="text-center">Deposit Historys and Transactions Datatable</h5>
						<div class="table-responsive">
							<table class="table table-striped table-bordered no-margin">
							  <thead>
								<tr>
								   <th class="text-center">#</th>
								   <th>Name</th>
								   <th class="text-end">Image Prof</th>
								   <th class="text-end">Amount</th>
								   <th class="text-end">Payment Method</th>
								   <th class="text-end">Created Date/Time</th>
								  <!--  <th class="text-end">Date / Time</th> -->
								   <th class="text-end">Status</th>
								</tr>
							   </thead>
							   <tbody>
							   	{% for post in post %}
								<tr>
								   <td class="text-center">{{post.id}}</td>
								   <td><a href="#" class="hover-warning">{{post.user.username}}</a></td>
								   {% if post.prof %}
								   <td class="text-end"><img src="{{post.prof.url}}" style="width:20px"></td>
								   {% else %}
								   <td class="text-end"><img src="" style="width:20px"></td>
								   {% endif %}
								   
								   <td class="text-end"><span>$</span> {{post.amount}}</td>
								   <td class="text-end"><span></span> {{post.currency}}</td>
								   <td class="text-end"><span></span>{{post.created_dated}}</td>
								   <!-- <td class="text-end"><span></span>{{post.created_date}}</td> -->
								   {% if post.status == 'confirmed' %}
								   <td class="text-end"><span class="label label-success">{{post.status}}</span></td>
								   {% elif post.status == 'declind' %}
								   <td class="text-end"><span class="label label-danger">{{post.status}}</span></td>
								   {% else %}
								   <td class="text-end"><span class="label" style="background-color:#d7961a;">{{post.status}}</span></td>
								   {% endif %}
								</tr>
								{% endfor %}
							   </tbody>
								
							</table>
						</div>
					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
				</div>
			  </div>




		</section>
		<!-- /.content -->

		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
	
	
  <!-- Modal -->
  <div class="modal center-modal fade" id="modal-center" tabindex="-1">
	  <div class="modal-dialog" style="max-width: 1000px;">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title center">You can Deposit Using the BTC ADDRESS or Deposit using QRCODE</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			



 	<div class="row">
 		<div class="col-12">
									<!-- Start an Alert -->
									<div id="alerttopright" class="myadmin-alert myadmin-alert-img alert-success myadmin-alert-top-right"> <img src="{{user.profile.image.url}}" class="img" alt="img"><a href="#" class="closed">&times;</a>
										<h4>You have a Message!</h4> <b>{{user.username}} </b> You Copied a text</div>
								</div>
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Deposit 
								   </h4><button class="js-textareacopybtn" onclick="myFunction()" style="float: right;
    background: #1c212e;
    color: #32b687;"id="showtopright">Copy</button>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
							  <tr>
								  <td>Address</td>
								  <td><input type="text" class="js-copytextarea" value="1AqGjejoByxoMksAZbDFNmAQXFtseaeaRX" id="myInput" style="border: none;
    color: #cacbce;
    width: 100%;
    background: #1c212e;"></td>
								
								</tr>			
								<tr>
								  <td>Company</td>
								  <td><a href="#">bittechfxt (inc.)</a></td>
								</tr>
								
								<tr>
								  <td>Acc Type</td>
								  <td>Bitcoin (BTC)</td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-4 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Your Info</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Name</td>
								  <td><span class="text-success" id="items">{{user.first_name}} {{user.last_name}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Email</td>
								  <td><span class="text-success">{{user.email}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Username</td>
								  <td><span class="text-success">{{user.username}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-2 col-12">
				  <div class="box">
					<div class="box-body">
						<img src="https://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=1AqGjejoByxoMksAZbDFNmAQXFtseaeaRX%0A&qzone=1&margin=0&size=200x200&ecc=L" alt="codeQR">
					</div>
				  </div>
				</div>
			</div>








		  </div>
		  <div class="modal-footer modal-footer-uniform">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
		<!-- 	 <button type="button" id="add-item" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modal-fill">
					Done
				  </button> -->

<script>

	function myFunction() {

  /* Get the text field */
	  var copyText = document.getElementById("myInput");

	  /* Select the text field */
	  copyText.select();
	  copyText.setSelectionRange(0, 99999); /* For mobile devices */

	  /* Copy the text inside the text field */
	  navigator.clipboard.writeText(copyText.value);
	  
	  /* Alert the copied text */
	  // alert("Copied the text: " + copyText.value);
};



var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

copyTextareaBtn.addEventListener('click', function(event) {
  var copyTextarea = document.querySelector('.js-copytextarea');
  copyTextarea.focus();
  copyTextarea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    alert('Copying text command was ' + msg);
  } catch (err) {
    alert('Oops, unable to copy');
  }
});
</script>				  
<script>

	var button = document.getElementById('add-item');
	var result = document.getElementById('demo2');

	document.querySelector('button').addEventListener("click", function() {
	  // Store results
	  var resultStored = result.value;
	  // Reset value of input
	  result.value = "";

	  // Get items container
	  var items = document.getElementById('items');
	  // Add items to container
	  items.innerHTML += resultStored;
	});
</script>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->








	
  <!-- Modal -->
  <div class="modal center-modal fade" id="modal-ETH" tabindex="-1">
	  <div class="modal-dialog" style="max-width: 1000px;">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title center">You can Deposit Using the ETH ADDRESS or Deposit using QRCODE</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			



 	<div class="row">
 		<div class="col-12">
									<!-- Start an Alert -->
									<div id="alerttopright" class="myadmin-alert myadmin-alert-img alert-success myadmin-alert-top-right"> <img src="{{user.profile.image.url}}" class="img" alt="img"><a href="#" class="closed">&times;</a>
										<h4>You have a Message!</h4> <b>{{user.username}} </b> You Copied a text</div>
								</div>
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Deposit 
								   </h4><button class="js-textareacopybtnb"  onclick="myFunction()" style="float: right;
    background: #1c212e;
    color: #32b687;"id="showtopright">Copy</button>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
							  <tr>
								  <td>Address</td>
								  <td><input class="js-copytextareab" type="text" value="0xF8B88cFAcb7121A1a5A89b2B240E29297508cd0f" id="myInput" style="border: none;
    color: #cacbce;
    width: 100%;
    background: #1c212e;"></td>
								
								</tr>			
								<tr>
								  <td>Company</td>
								  <td><a href="#">bittechfxt (inc.)</a></td>
								</tr>
								
								<tr>
								  <td>Acc Type</td>
								  <td>Ethereum (ETH)</td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-4 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Your Info</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Name</td>
								  <td><span class="text-success" id="items">{{user.first_name}} {{user.last_name}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Email</td>
								  <td><span class="text-success">{{user.email}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Username</td>
								  <td><span class="text-success">{{user.username}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-2 col-12">
				  <div class="box">
					<div class="box-body">
						<img src="https://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=0xF8B88cFAcb7121A1a5A89b2B240E29297508cd0f%0A&qzone=1&margin=0&size=200x200&ecc=L" alt="codeQR">
					</div>
				  </div>
				</div>
			</div>








		  </div>
		  <div class="modal-footer modal-footer-uniform">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
		<!-- 	 <button type="button" id="add-item" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modal-fill">
					Done
				  </button> -->

<script>

	function myFunction() {

  /* Get the text field */
	  var copyText = document.getElementById("myInput");

	  /* Select the text field */
	  copyText.select();
	  copyText.setSelectionRange(0, 99999); /* For mobile devices */

	  /* Copy the text inside the text field */
	  navigator.clipboard.writeText(copyText.value);
	  
	  /* Alert the copied text */
	  // alert("Copied the text: " + copyText.value);
};

var copyTextareaBtnb = document.querySelector('.js-textareacopybtnb');

copyTextareaBtnb.addEventListener('click', function(event) {
  var copyTextareab = document.querySelector('.js-copytextareab');
  copyTextareab.focus();
  copyTextareab.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    alert('Copying text command was ' + msg);
  } catch (err) {
    alert('Oops, unable to copy');
  }
});
</script>				  
<script>

	var button = document.getElementById('add-item');
	var result = document.getElementById('demo2');

	document.querySelector('button').addEventListener("click", function() {
	  // Store results
	  var resultStored = result.value;
	  // Reset value of input
	  result.value = "";

	  // Get items container
	  var items = document.getElementById('items');
	  // Add items to container
	  items.innerHTML += resultStored;
	});
</script>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->







	
  <!-- Modal -->
  <div class="modal center-modal fade" id="modal-USDT" tabindex="-1">
	  <div class="modal-dialog" style="max-width: 1000px;">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title center">You can Deposit Using the USDT ADDRESS or Deposit using QRCODE</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			



 	<div class="row">
 		<div class="col-12">
									<!-- Start an Alert -->
									<div id="alerttopright" class="myadmin-alert myadmin-alert-img alert-success myadmin-alert-top-right"> <img src="{{user.profile.image.url}}" class="img" alt="img"><a href="#" class="closed">&times;</a>
										<h4>You have a Message!</h4> <b>{{user.username}} </b> You Copied a text</div>
								</div>
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Deposit 
								   </h4><button class="js-textareacopybtnc"  onclick="myFunction()" style="float: right;
    background: #1c212e;
    color: #32b687;" id="showtopright">Copy</button>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody> 
							  <tr>
								  <td>Address</td>
								  <td><input type="text" class="js-copytextareac" value="0xF8B88cFAcb7121A1a5A89b2B240E29297508cd0f" id="myInput" style="border: none;
    color: #cacbce;
    width: 100%;
    background: #1c212e;"></td>
								
								</tr>			
								<tr>
								  <td>Company</td>
								  <td><a href="#">bittechfxt (inc.)</a></td>
								</tr>
								
								<tr>
								  <td>Acc Type</td>
								  <td>Tether (USDT) <i>(ERC20)</i></td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-4 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Your Info</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Name</td>
								  <td><span class="text-success" id="items">{{user.first_name}} {{user.last_name}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Email</td>
								  <td><span class="text-success">{{user.email}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Username</td>
								  <td><span class="text-success">{{user.username}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-2 col-12">
				  <div class="box">
					<div class="box-body">
						<img src="https://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=0xF8B88cFAcb7121A1a5A89b2B240E29297508cd0f%0A&qzone=1&margin=0&size=200x200&ecc=L" alt="codeQR">
					</div>
				  </div>
				</div>
			</div>








		  </div>
		  <div class="modal-footer modal-footer-uniform">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
		<!-- 	 <button type="button" id="add-item" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modal-fill">
					Done
				  </button> -->

<script>

	function myFunction() {

  /* Get the text field */
	  var copyText = document.getElementById("myInput");

	  /* Select the text field */
	  copyText.select();
	  copyText.setSelectionRange(0, 99999); /* For mobile devices */

	  /* Copy the text inside the text field */
	  navigator.clipboard.writeText(copyText.value);
	  
	  /* Alert the copied text */
	  // alert("Copied the text: " + copyText.value);
};



var copyTextareaBtnc = document.querySelector('.js-textareacopybtnc');

copyTextareaBtnc.addEventListener('click', function(event) {
  var copyTextareac = document.querySelector('.js-copytextareac');
  copyTextareac.focus();
  copyTextareac.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    alert('Copying text command was ' + msg);
  } catch (err) {
    alert('Oops, unable to copy');
  }
});
</script>				  
<script>

	var button = document.getElementById('add-item');
	var result = document.getElementById('demo2');

	document.querySelector('button').addEventListener("click", function() {
	  // Store results
	  var resultStored = result.value;
	  // Reset value of input
	  result.value = "";

	  // Get items container
	  var items = document.getElementById('items');
	  // Add items to container
	  items.innerHTML += resultStored;
	});
</script>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->




<!-- /////////////////////////////////////////////////////////////////////////////
 -->

	
  <!-- Modal -->
  <div class="modal center-modal fade" id="modal-USDT-TRC" tabindex="-1">
	  <div class="modal-dialog" style="max-width: 1000px;">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title center">You can Deposit Using the USDT ADDRESS or Deposit using QRCODE</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			



 	<div class="row">
 		<div class="col-12">
									<!-- Start an Alert -->
									<div id="alerttopright" class="myadmin-alert myadmin-alert-img alert-success myadmin-alert-top-right"> <img src="{{user.profile.image.url}}" class="img" alt="img"><a href="#" class="closed">&times;</a>
										<h4>You have a Message!</h4> <b>{{user.username}} </b> You Copied a text</div>
								</div>
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Deposit 
								   </h4><button class="js-textareacopybtn2"  onclick="myFunction()" style="float: right;
    background: #1c212e;
    color: #32b687;" id="showtopright">Copy</button>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody> 
							  <tr>
								  <td>Address</td>
								  <td><input type="text" class="js-copytextarea2" value="TWhamYxKYZ8QKAL4Q46kVrigrj6rupfNYG" id="myInput" style="border: none;
    color: #cacbce;
    width: 100%;
    background: #1c212e;"></td>
								
								</tr>			
								<tr>
								  <td>Company</td>
								  <td><a href="#">bittechfxt (inc.)</a></td>
								</tr>
								
								<tr>
								  <td>Acc Type</td>
								  <td>Tether (USDT) <i>(TRC20)</i></td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-4 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Your Info</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Name</td>
								  <td><span class="text-success" id="items">{{user.first_name}} {{user.last_name}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Email</td>
								  <td><span class="text-success">{{user.email}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Username</td>
								  <td><span class="text-success">{{user.username}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-2 col-12">
				  <div class="box">
					<div class="box-body">
						<img src="https://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=TWhamYxKYZ8QKAL4Q46kVrigrj6rupfNYG%0A&qzone=1&margin=0&size=200x200&ecc=L" alt="codeQR">
					</div>
				  </div>
				</div>
			</div>








		  </div>
		  <div class="modal-footer modal-footer-uniform">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
		<!-- 	 <button type="button" id="add-item" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modal-fill">
					Done
				  </button> -->

<script>

	function myFunction() {

  /* Get the text field */
	  var copyText = document.getElementById("myInput");

	  /* Select the text field */
	  copyText.select();
	  copyText.setSelectionRange(0, 99999); /* For mobile devices */

	  /* Copy the text inside the text field */
	  navigator.clipboard.writeText(copyText.value);
	  
	  /* Alert the copied text */
	  // alert("Copied the text: " + copyText.value);
};



var copyTextareaBtnc = document.querySelector('.js-textareacopybtn2');

copyTextareaBtnc.addEventListener('click', function(event) {
  var copyTextareac = document.querySelector('.js-copytextarea2');
  copyTextareac.focus();
  copyTextareac.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    alert('Copying text command was ' + msg);
  } catch (err) {
    alert('Oops, unable to copy');
  }
});
</script>				  
<script>

	var button = document.getElementById('add-item');
	var result = document.getElementById('demo2');

	document.querySelector('button').addEventListener("click", function() {
	  // Store results
	  var resultStored = result.value;
	  // Reset value of input
	  result.value = "";

	  // Get items container
	  var items = document.getElementById('items');
	  // Add items to container
	  items.innerHTML += resultStored;
	});
</script>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->












<!-- /////////////////////////////////////////////////////////////////////////////
 -->

	
  <!-- Modal -->
  <div class="modal center-modal fade" id="modal-USDT-BEP" tabindex="-1">
	  <div class="modal-dialog" style="max-width: 1000px;">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title center">You can Deposit Using the USDT ADDRESS or Deposit using QRCODE</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			



 	<div class="row">
 		<div class="col-12">
									<!-- Start an Alert -->
									<div id="alerttopright" class="myadmin-alert myadmin-alert-img alert-success myadmin-alert-top-right"> <img src="{{user.profile.image.url}}" class="img" alt="img"><a href="#" class="closed">&times;</a>
										<h4>You have a Message!</h4> <b>{{user.username}} </b> You Copied a text</div>
								</div>
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Deposit 
								   </h4><button class="js-textareacopybtn3"  onclick="myFunction()" style="float: right;
    background: #1c212e;
    color: #32b687;" id="showtopright">Copy</button>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody> 
							  <tr>
								  <td>Address</td>
								  <td><input type="text" class="js-copytextarea3" value="0x9ae83416e320b83f5512f97233dcda11d57cd2b9" id="myInput" style="border: none;
    color: #cacbce;
    width: 100%;
    background: #1c212e;"></td>
								
								</tr>			
								<tr>
								  <td>Company</td>
								  <td><a href="#">bittechfxt (inc.)</a></td>
								</tr>
								
								<tr>
								  <td>Acc Type</td>
								  <td>Tether (USDT) <i>(BEP20)</i></td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-4 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Your Info</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Name</td>
								  <td><span class="text-success" id="items">{{user.first_name}} {{user.last_name}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Email</td>
								  <td><span class="text-success">{{user.email}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
								<tr>
								  <td>Your Username</td>
								  <td><span class="text-success">{{user.username}}</span></td>
								  <!-- <td><i class="fa fa-bar-chart"></i></td> -->
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-2 col-12">
				  <div class="box">
					<div class="box-body">
						<img src="https://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=0x9ae83416e320b83f5512f97233dcda11d57cd2b9%0A&qzone=1&margin=0&size=200x200&ecc=L" alt="codeQR">
					</div>
				  </div>
				</div>
			</div>








		  </div>
		  <div class="modal-footer modal-footer-uniform">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
		<!-- 	 <button type="button" id="add-item" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modal-fill">
					Done
				  </button> -->

<script>

	function myFunction() {

  /* Get the text field */
	  var copyText = document.getElementById("myInput");

	  /* Select the text field */
	  copyText.select();
	  copyText.setSelectionRange(0, 99999); /* For mobile devices */

	  /* Copy the text inside the text field */
	  navigator.clipboard.writeText(copyText.value);
	  
	  /* Alert the copied text */
	  // alert("Copied the text: " + copyText.value);
};



var copyTextareaBtnc = document.querySelector('.js-textareacopybtn3');

copyTextareaBtnc.addEventListener('click', function(event) {
  var copyTextareac = document.querySelector('.js-copytextarea3');
  copyTextareac.focus();
  copyTextareac.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    alert('Copying text command was ' + msg);
  } catch (err) {
    alert('Oops, unable to copy');
  }
});
</script>				  
<script>

	var button = document.getElementById('add-item');
	var result = document.getElementById('demo2');

	document.querySelector('button').addEventListener("click", function() {
	  // Store results
	  var resultStored = result.value;
	  // Reset value of input
	  result.value = "";

	  // Get items container
	  var items = document.getElementById('items');
	  // Add items to container
	  items.innerHTML += resultStored;
	});
</script>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->








  <!-- Modal -->
  <div class="modal modal-fill fade" data-backdrop="false" id="modal-fill" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Modal title</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			



		 





		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary float-end">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->

{% endblock content %}
	<!-- Page Content overlay -->
	
	