 {% extends 'crypto/base.html' %}   

  {% load static %}
   {% load crispy_forms_tags %}



{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="background-color: #000422;">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Details</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Transactions</li>
								<li class="breadcrumb-item active" aria-current="page">Details </li>

		







							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Your Summary</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Username</td>
								  <td><a href="#">{{user.username}}</a></td>
								</tr>
								<tr>
								  <td>Full name</td>
								  <td><a href="#">{{user.first_name}} {{user.last_name}}</a></td>
								</tr>
								<tr>
								  <td>Email</td>
								  <td>{{user.email}}</td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-4 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Wallet Transactions</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Total Deposit</td>
								  <td><span class="text-success">{{depo}}</span></td>
								  <td><i class="fa fa-bar-chart"></i></td>
								</tr>
								<tr>

								  <td>Total Bonus</td>
								  <td><span class="text-success">{{bon}} </span></td>
								  <td><i class="fa fa-bar-chart"></i></td>
								</tr>
								<tr>
								  <td>Total Balance</td>
								  <td><span class="text-success">{{total}}</span></td>
								  <td><i class="fa fa-bar-chart"></i></td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-2 col-12">
				  <div class="box">
					<div class="box-body">
						<img src="https://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data={{addr}}%0A&qzone=1&margin=0&size=200x200&ecc=L" alt="codeQR">
					</div>
				  </div>
				</div>
			</div>


















<div class="row">
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Deposit</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-bordered no-margin">
							  <thead>
								<tr>
								   <th class="text-center">ID</th>
								   <th>Payment prof</th>
								   <th class="text-end">Amount</th>
								   <th class="text-end">currency</th>
								   <th class="text-end">Status</th>
								</tr>
							   </thead>
							   <tbody>
									{% for post in post %}
								<tr>
								   <td class="text-center">{{post.id}}</td>
								   <td class="text-end"><img src="{{post.prof.url}}" style="width:20px"></td>
								   <td class="text-end"><span>$</span> {{post.amount}}</td>
								   <td class="text-end"><span></span> {{post.currency}}</td>
								   {% if post.status == 'confirmed' %}
								   <td class="text-end"><span class="label label-success">{{post.status}}</span></td>
								   {% elif post.status == 'declind' %}
								   <td class="text-end"><span class="label label-danger">{{post.status}}</span></td>
								   {% else %}
								   <td class="text-end"><span class="label" style="background-color:#d7961a;">{{post.status}}</span></td>
								   {% endif %}
								</tr>
								{% endfor %}
								
							   </tbody>
							</table>
						</div>
					</div>
					<!-- /.box-body -->
			  </div>
				  <!-- /.box -->
				</div>
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Withdraw</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-bordered no-margin">
							  <thead>
								<tr>
								   <th class="text-center">ID</th>
								   <th>Name</th>
								   <th class="text-end">Price</th>
								   <th class="text-end">currency</th>
								   <th class="text-end">status</th>
								</tr>
							  </thead>
							  <tbody>
							  		{% for post in posts %}
								<tr>
								   <td class="text-center">{{post.id}}</td>
								   <td><a href="#" class="hover-warning">{{post.user.username}}</a></td>
								   <td class="text-end"><span>$</span> {{post.amount}}</td>
								   <td class="text-end"><span></span> {{post.currency}}</td>
								   <!-- <td class="text-end"><span></span>{{post.created_date}}</td> -->
								   {% if post.status == 'confirmed' %}
								   <td class="text-end"><span class="label label-success">{{post.status}}</span></td>
								   {% elif post.status == 'declind' %}
								   <td class="text-end"><span class="label label-danger">{{post.status}}</span></td>
								   {% else %}
								   <td class="text-end"><span class="label" style="background-color:#d7961a;">{{post.status}}</span></td>
								   {% endif %}
								</tr>
								{% endfor %}
							   </tbody>
							</table>
						</div>
					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
				</div>
			  </div>















		</section>
		<!-- /.content -->
	  
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
{% endblock content %}
