 {% extends 'crypto/base.html' %}   

  {% load static %}
   {% load crispy_forms_tags %}



{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height:5px
;background-color: #000422;">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Details </h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Transactions</li>
								<li class="breadcrumb-item active" aria-current="page">Details </li>

							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>
{% include 'crypto/messages.html' %}
		<!-- Main content -->
		<section class="content">


			<div class="row">
				<div class="">

				  <!-- Profile Image -->
				  <div class="box bg-transparent no-border">
					<div class="box-body box-profile">
					  <img class="rounded img-fluid mx-auto d-block max-w-150" src="{{user.profile.image.url}}" alt="User profile picture">

					  <h3 class="profile-username text-center mb-0">{{user.first_name}} {{user.last_name}}</h3>

					  <h4 class="text-center mt-0"><i class="fa fa-envelope-o me-10"></i>{{user.email}}</h4>


					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
				</div>
				<!-- /.col -->
				
				<!-- /.col -->
			  </div>




<!-- 

			<div class="row">
				<div class="col-lg-6 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Your Wallet Info {{name}}</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Wallet Address</td>
								  <td><a href="#">{{btc.address}}</a></td>
								</tr>
								<tr>
								  <td>Public key</td>
								  <td><a href="#">{{btc.public_key}}</a></td>
								</tr>
								<tr>
								  <td>Private key</td>
								  <td>{{btc.private_key}}</td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-4 col-12">
				  <div class="box">
					<div class="box-header with-border">
					  <h4 class="box-title">Transactions</h4>
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover no-margin">
							  <tbody>
								<tr>
								  <td>Total Sent</td>
								  <td><span class="text-success">{{detail.total_sent}}</span></td>
								  <td><i class="fa fa-bar-chart"></i></td>
								</tr>
								<tr>
								  <td>Total Received</td>
								  <td><span class="text-success">{{detail.total_received}} BTC</span></td>
								  <td><i class="fa fa-bar-chart"></i></td>
								</tr>
								<tr>
								  <td>Total Balance</td>
								  <td><span class="text-success">{{detail.balance}}</span></td>
								  <td><i class="fa fa-bar-chart"></i></td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				  </div>
				</div>
				<div class="col-lg-2 col-12">
				  <div class="box">
					<div class="box-body">
						<img src="https://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data={{btc.address}}%0A&qzone=1&margin=0&size=200x200&ecc=L" alt="codeQR">
					</div>
				  </div>
				</div>
			</div>

 -->





				  <div class="row">

			  <div class="row mt-30">
			  <div class="col-12 col-md-6 col-lg-4">
				<div class="box box-body pull-up" data-bs-toggle="modal" data-bs-target="#modal-center">
				  <div class="media align-items-center p-0">
					<div class="text-center">
					  <a href="#"><i class="cc BTC me-5" title="BTC"></i></a>
					</div>
					<div>
					  <h3 class="no-margin">Bitcoin BTC</h3>
					</div>
				  </div><!-- 
				  <div class="flexbox align-items-center mt-25">
					<div>
					  <p class="no-margin">2.340000434 <span class="text-gray">BTC</span> <span class="text-info">$0.04</span></p>
					</div>
					<div class="text-end">
					  <p class="no-margin"><span class="text-success">+5.35%</span></p>
					</div>
				  </div> -->
				</div>			
			  </div>
			  <div class="col-12 col-md-6 col-lg-4">
				<div class="box box-body pull-up" data-bs-toggle="modal" data-bs-target="#ETH-center">
				  <div class="media align-items-center p-0">
					<div class="text-center">
					  <a href="#"><i class="cc ETH me-5" title="ETH"></i></a>
					</div>
					<div>
					  <h3 class="no-margin">Ethereum ETH</h3>
					</div>
				  </div>
			<!-- 	  <div class="flexbox align-items-center mt-25">
					<div>
					  <p class="no-margin">1.34000434 <span class="text-gray">LTC</span> <span class="text-info">$0.14</span></p>
					</div>
					<div class="text-end">
					  <p class="no-margin"><span class="text-danger">-2.35%</span></p>
					</div>
				  </div> -->
				</div>			
			  </div>

			  <div class="col-12 col-md-6 col-lg-4">
				<div class="box box-body pull-up" data-bs-toggle="modal" data-bs-target="#USDT-center">
				  <div class="media align-items-center p-0">
					<div class="text-center">
					  <a href="#"><i class="cc USDT me-5" title="USDT"></i></a>
					</div>
					<div>
					  <h3 class="no-margin">Tether USDT</h3>
					</div>
				  </div>
			<!-- 	  <div class="flexbox align-items-center mt-25">
					<div>
					  <p class="no-margin">1.34000434 <span class="text-gray">LTC</span> <span class="text-info">$0.14</span></p>
					</div>
					<div class="text-end">
					  <p class="no-margin"><span class="text-danger">-2.35%</span></p>
					</div>
				  </div> -->
				</div>			
			  </div>


			</div>



		  </div>



		</section>
		<!-- /.content -->


						<!-- Main content -->
		<section class="content">			
<div class="row">
				<div class="col-12">
				  <div class="box">
					<div class="box-body">
						<h5 class="text-center">Withdrawal Historys and Transactions Datatable</h5>
						<div class="table-responsive">
							<table class="table table-striped table-bordered no-margin">
							  <thead>
								<tr>
								   <th class="text-center">#</th>
								   <th>Name</th>
								   <th class="text-end">Your wallet</th>
								   <th class="text-end">Amount requested</th>
								   <th class="text-end">Recieving mode</th>
								   <th class="text-end">Created Date/Time</th>
								   <th class="text-end">Status</th>
								</tr>
							   </thead>
							   <tbody>
							   	{% for post in post %}
								<tr>
								   <td class="text-center">{{post.id}}</td>
								   <td><a href="#" class="hover-warning">{{post.user.username}}</a></td>
								   <td class="text-end">{{post.userwallet}}</td>
								   <td class="text-end"><span>$</span> {{post.amount}}</td>
								   <td class="text-end"><span></span> {{post.currency}}</td>
								   <!-- <td class="text-end"><span></span>{{post.created_date}}</td> -->
								   <td class="text-end"><span></span>{{post.created_dated}}</td>
								   {% if post.status == 'confirmed' %}
								   <td class="text-end"><span class="label label-success">{{post.status}}</span></td>
								   {% elif post.status == 'declind' %}
								   <td class="text-end"><span class="label label-danger">{{post.status}}</span></td>
								   {% else %}
								   <td class="text-end"><span class="label" style="background-color:#d7961a;">{{post.status}}</span></td>
								   {% endif %}
								</tr>
								{% endfor %}
							   </tbody>
								
							</table>
						</div>
					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
				</div>
			  </div>




		</section>
		<!-- /.content -->


	  
	  </div>
  </div>
  <!-- /.content-wrapper -->
 
  <!-- Modal -->
  <div class="modal center-modal fade" id="modal-center" tabindex="-1">
	  <div class="modal-dialog" ><!-- style="max-width: 1000px;" -->
		<div class="modal-content">
		
				  <div class="modal-header">
		<form action="" method="post" >
		  	<h5 class="modal-title center">Enter your amount</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
        {% csrf_token %}
			
			  <div class="modal-body">
			


		  	<div class="input-group bootstrap-touchspin">

		  		<span class="input-group-addon bootstrap-touchspin-prefix">$</span>
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->


		  		<input id="btc" type="hidden" value="BTC" name="btc" class="form-control" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;">


		  		<input id="pricet" type="text" name="pricet" placeholder="enter your amount" class="form-control" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;">
				</div>

			




			  </div>

			   <div class="modal-body">


		  	<div class="input-group bootstrap-touchspin">
				<span class="input-group-addon bootstrap-touchspin-prefix">w</span>
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->



		  		<input id="addr" type="text" name="addr" class="form-control" placeholder="enter your Wallet address" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;"><br>

		  	</div>

			




			  </div>
			  
			  <div class="modal-body">


		  	<div class="input-group bootstrap-touchspin">
				<!-- <span class="input-group-addon bootstrap-touchspin-prefix">w</span> -->
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->

							<select style="height: 40px;" required="" class="btn-group form-control bootstrap-select btn dropdown-toggle btn-default" name="types">
								<option selected="" disabled="true" class="text">---Witdrawal From---</option>
								<option class="text">Profit : (PF)</option>
								<option class="text">Bonus : (BN)</option>
								<option class="text">Ref bonus : (RB)</option>
								<option class="text">All Transact : (AT)</option>
							</select>
					
<!-- 
		  		<input id="addr" type="text" name="addr" class="form-control" placeholder="enter your Wallet address" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;"> --><br>

		  	</div>

			




			  </div>
			  <div class="modal-footer modal-footer-uniform">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				 <button type="submit" value="Submit" class="btn btn-primary float-end" >
						Send
					</button>
		</form>
				  
<script>

	var button = document.getElementById('add-item');
	var result = document.getElementById('demo2');

	document.querySelector('button').addEventListener("click", function() {
	  // Store results
	  var resultStored = result.value;
	  // Reset value of input
	  result.value = "";

	  // Get items container
	  var items = document.getElementById('items');
	  // Add items to container
	  items.innerHTML += resultStored;
	});
</script>

  <script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 3000)
  </script>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->









  <!-- Modal -->
  <div class="modal center-modal fade" id="ETH-center" tabindex="-1">
	  <div class="modal-dialog" ><!-- style="max-width: 1000px;" -->
		<div class="modal-content">
		
				  <div class="modal-header">
		<form action="" method="post" >
		  	<h5 class="modal-title center">Enter your amount</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
        {% csrf_token %}
			
			  <div class="modal-body">
			


		  	<div class="input-group bootstrap-touchspin">

		  		<span class="input-group-addon bootstrap-touchspin-prefix">$</span>
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->


		  		<input id="btc" type="hidden" value="ETH" name="btc" class="form-control" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;">


		  		<input id="pricet" type="text" name="pricet" placeholder="enter your amount" class="form-control" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;">
				</div>

			




			  </div>

			   <div class="modal-body">


		  	<div class="input-group bootstrap-touchspin">
				<span class="input-group-addon bootstrap-touchspin-prefix">w</span>
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->



		  		<input id="addr" type="text" name="addr" class="form-control" placeholder="enter your Wallet address" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;"><br>

		  	</div>

			




			  </div>

			  <div class="modal-body">


		  	<div class="input-group bootstrap-touchspin">
				<!-- <span class="input-group-addon bootstrap-touchspin-prefix">w</span> -->
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->

							<select style="height: 40px;" required="" class="btn-group form-control bootstrap-select btn dropdown-toggle btn-default" name="types">
								<option selected="" disabled="true" class="text">---Witdrawal From---</option>
								<option class="text">Profit : (PF)</option>
								<option class="text">Bonus : (BN)</option>
								<option class="text">Ref bonus : (RB)</option>
								<option class="text">All Transact : (AT)</option>
							</select>
					
<!-- 
		  		<input id="addr" type="text" name="addr" class="form-control" placeholder="enter your Wallet address" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;"> --><br>

		  	</div>

			




			  </div>
			  <div class="modal-footer modal-footer-uniform">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				 <button type="submit" value="Submit" class="btn btn-primary float-end" >
						Send
					</button>
		</form>
				  
<script>

	var button = document.getElementById('add-item');
	var result = document.getElementById('demo2');

	document.querySelector('button').addEventListener("click", function() {
	  // Store results
	  var resultStored = result.value;
	  // Reset value of input
	  result.value = "";

	  // Get items container
	  var items = document.getElementById('items');
	  // Add items to container
	  items.innerHTML += resultStored;
	});
</script>

  <script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 3000)
  </script>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->











  <!-- Modal -->
  <div class="modal center-modal fade" id="USDT-center" tabindex="-1">
	  <div class="modal-dialog" ><!-- style="max-width: 1000px;" -->
		<div class="modal-content">
		
				  <div class="modal-header">
		<form action="" method="post" >
		  	<h5 class="modal-title center">Enter your amount</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
        {% csrf_token %}
			
			  <div class="modal-body">
			


		  	<div class="input-group bootstrap-touchspin">

		  		<span class="input-group-addon bootstrap-touchspin-prefix">$</span>
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->


		  		<input id="btc" type="hidden" value="USDT" name="btc" class="form-control" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;">


		  		<input id="pricet" type="text" name="pricet" placeholder="enter your amount" class="form-control" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;">
				</div>

			




			  </div>

			   <div class="modal-body">


		  	<div class="input-group bootstrap-touchspin">
				<span class="input-group-addon bootstrap-touchspin-prefix">w</span>
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->



		  		<input id="addr" type="text" name="addr" class="form-control" placeholder="enter your Wallet address" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;"><br>

		  	</div>

			




			  </div>

			  <div class="modal-body">


		  	<div class="input-group bootstrap-touchspin">
				<!-- <span class="input-group-addon bootstrap-touchspin-prefix">w</span> -->
		  		<!-- <input type="hidden" name="addr" value="{{btc.address}}"> -->

							<select style="height: 40px;" required="" class="btn-group form-control bootstrap-select btn dropdown-toggle btn-default" name="types">
								<option selected="" disabled="true" class="text">---Witdrawal From---</option>
								<option class="text">Profit : (PF)</option>
								<option class="text">Bonus : (BN)</option>
								<option class="text">Ref bonus : (RB)</option>
								<option class="text">All Transact : (AT)</option>
							</select>
					
<!-- 
		  		<input id="addr" type="text" name="addr" class="form-control" placeholder="enter your Wallet address" data-bts-button-down-class="btn btn-secondary" data-bts-button-up-class="btn btn-secondary" style="display: block;"> --><br>

		  	</div>

			




			  </div>
			  <div class="modal-footer modal-footer-uniform">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
				 <button type="submit" value="Submit" class="btn btn-primary float-end" >
						Send
					</button>
		</form>
				  
<script>

	var button = document.getElementById('add-item');
	var result = document.getElementById('demo2');

	document.querySelector('button').addEventListener("click", function() {
	  // Store results
	  var resultStored = result.value;
	  // Reset value of input
	  result.value = "";

	  // Get items container
	  var items = document.getElementById('items');
	  // Add items to container
	  items.innerHTML += resultStored;
	});
</script>

  <script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 3000)
  </script>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->
  <!-- Modal -->
  <div class="modal modal-fill fade" data-backdrop="false" id="modal-fill" tabindex="-1">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">Modal title</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			



		 





		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary float-end">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
  <!-- /.modal -->

{% endblock content %}
